
body {
    background-color: #f8f8f8;
    font-size: 12px;
    color: #333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
a, a:visited, a:active {
    color: #000044;
}


/* Grid Styles */
.gridContainer .gridSearchForm {
    padding-top: 12px;
    margin-top: 4px;
    border: 1px dashed #cccccc;
}

.gridContainer .gridSearchForm .form-group {
    margin-bottom: 6px;
}

.gridContainer .gridSearchBtn {
    margin-bottom: 16px;
}

/* SB Admin v2.0 */
#wrapper {
    width: 100%;
}
#page-wrapper {
    padding: 0 15px;
    min-height: 568px;
    background-color: #EEE;
}
.page-title {
    border-bottom: 1px solid #ccc;
    padding-bottom: 4px;
}
@media (min-width: 768px) {
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 250px;
        padding: 0 16px;
        border-left: 1px solid #e7e7e7;
    }
}
.navbar-top-links {
    margin-right: 0;
}
.navbar-top-links li {
    display: inline-block;
}
.navbar-top-links li:last-child {
    margin-right: 15px;
}
.navbar-top-links li a {
    padding: 15px;
    min-height: 50px;
}
.navbar-top-links .dropdown-menu li {
    display: block;
}
.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}
.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}
.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}
.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
    width: 310px;
    min-width: 0;
}
.navbar-top-links .dropdown-messages {
    margin-left: 5px;
}
.navbar-top-links .dropdown-tasks {
    margin-left: -59px;
}
.navbar-top-links .dropdown-alerts {
    margin-left: -123px;
}
.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}
.sidebar .sidebar-nav.navbar-collapse {
    padding-left: 0;
    padding-right: 0;
}
.sidebar ul li {
    border-bottom: 1px solid #e7e7e7;
    font-size: 13px;
}
.sidebar ul li a.active {
    background-color: #eeeeee;
}
.sidebar .arrow {
    float: right;
}
.sidebar .fa.arrow:before {
    content: "\f104";
}
.sidebar .active > a > .fa.arrow:before {
    content: "\f107";
}
.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
    border-bottom: none !important;
}
.sidebar .nav-second-level li a {
    padding-left: 37px;
}
.sidebar .nav-third-level li a {
    padding-left: 52px;
}
@media (min-width: 768px) {
    .sidebar {
        z-index: 1;
        position: absolute;
        width: 250px;
        margin-top: 51px;
    }
    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }
}